


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new medicine</title>
</head>
<body>
<div layout:fragment="content">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Add New Medicine</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a th:href="@{/account/list}">List Medicine</a></li>
                        <li class="breadcrumb-item active">Add New Medicine</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Thông tin medicine</h4></div>
                <div class="card-body">
                    <form method="post" th:action="@{/medicine/add}" th:object="${medicineDto}" role="form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Name">
                            <p th:errors="*{name}" class="text-danger"
                               th:if="${#fields.hasErrors('name')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" class="form-control" id="quantity" th:field="*{quantity}" placeholder="Quantity">
                            <p th:errors="*{quantity}" class="text-danger"
                               th:if="${#fields.hasErrors('quantity')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" class="form-control" id="price" th:field="*{price}" placeholder="Price">
                            <p th:errors="*{price}" class="text-danger"
                               th:if="${#fields.hasErrors('price')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                            <p th:errors="*{description}" class="text-danger"
                               th:if="${#fields.hasErrors('description')}"></p>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

</body>
</html>